src/
scripts/
tsconfig.json
tests/
jest.config.js
jest-report.html
jest-report.json
*.test.js
*.test.ts
.gitignore
.github/
.vscode/
.idea/
*.tgz
coverage/
.DS_Store
Thumbs.db
playwright-report/
test-results/