src/
scripts/
tsconfig.json
__tests__/
jest.config.js
jest.config.unit.js
jest-report.html
jest-report.json
*.test.js
*.test.ts
.gitignore
.github/
.vscode/
.idea/
*.tgz
coverage/
.DS_Store
Thumbs.db
