@use 'themes' as themes;
@use 'variables' as vars;
@use 'mixins' as mix;

@use 'generic';
@use 'elements';
@use 'objects';

@use 'header';
@use 'report-header';
@use 'progress-bar';
@use 'suite';
@use 'test';
@use 'empty';
@use 'fixed-ui';

:root {
  --font-sans: 'Google Sans';
  --font-mono: 'Google Sans Code';
}

:root,
.theme-dark {
  @include themes.apply-theme(themes.$theme-dark);
}

.theme-light {
  @include themes.apply-theme(themes.$theme-light);
}

.theme-github {
  @include themes.apply-theme(themes.$theme-github);
}

.theme-monokai {
  @include themes.apply-theme(themes.$theme-monokai);
}

.theme-dracula {
  @include themes.apply-theme(themes.$theme-dracula);
}

.theme-nord {
  @include themes.apply-theme(themes.$theme-nord);
}
